<template name="allUsersProfile">
{{#if Template.subscriptionsReady}}
  <div class="card">
    <div class="card-body pb-0">
      <div class="row">
        <div class="col-md-3 col-lg-3 " align="center">
            {{#if profile.picture}}
              <img src="{{imageFileLink profile.picture}}" class="rounded-circle header-avatar img-fluid">
            {{else}}
              <!-- XXX this picture should be part of this module -->
              <img src="/img/mr_nobody.jpg" class="rounded-circle header-avatar">
            {{/if}}
          <div class="row">
            {{> Template.contentBlock }}
          </div>
        </div>
        <div class="col">
          <table class="table table-user-information">
            <tbody>
              <tr><td>{{__ ".name"}}</td><td>{{getUserName _id}}
                {{#if status.online}}<span class="text-success"> {{fa "circle"}}</span>{{/if}}
              </td></tr>
              <tr><td>{{__ ".email"}} </td>
                <td>{{emails.[0].address}}
                  {{#if emails.[0].verified}}
                    <span class="text-success">{{fa 'check'}}</span>
                  {{else}}
                    <!-- <a href="#" data-action="copy-link">{{fa "clipboard"}}</a> -->
                    <span
                      data-toggle="tooltip"
                      data-placement="top"
                      title="{{__ '.email_not_verified'}}" class="text-danger">{{fa 'warning'}}</span>
                  {{/if}}
                </td>
              </tr>
              <tr><td>{{__ ".createdAt"}}</td><td>{{formatDateTime createdAt}}</td></tr>
              {{#if status.lastLogin}}
          		  <tr><td>{{__ ".last_login"}}</td><td>{{formatDateTime status.lastLogin.date}}</td></tr>
              {{/if}}
              {{#if (displayRoles _id)}}
                {{#unless ($eq (displayRoles _id) "user")}}
                  <tr><td>{{__ ".site_roles"}}</td><td>{{__ (displayRoles _id)}}</td></tr>
                {{/unless}}
              {{/if}}
              {{#each field in additionalFields }}
          		  <tr><td>{{field.label}}</td><td>{{field.getData _id}}</td></tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{{/if}}
</template>

<template name="removeUserAction">
  <li class="dropdown-item">
    <a data-action="remove-user">
      {{fa "trash-o"}} {{__ ".remove"}}
    </a>
  </li>
</template>

<template name="changePwdUserAction">
  <li class="dropdown-item">
    <a data-action="change-password">
      {{fa "key"}} {{__ ".change_password"}}
    </a>
  </li>
</template>

<template name="editProfileUserAction">
  <li class="dropdown-item">
    <a data-action="edit-profile">
      {{fa "edit"}} {{__ ".edit_profile"}}
    </a>
  </li>
</template>

<template name="editEmailUserAction">
  <li class="dropdown-item">
    <a data-action="edit-email">
      {{fa "at"}} {{__ ".edit_email"}}
    </a>
  </li>
</template>

<template name="banUserAction">
  <li class="dropdown-item">
    <a data-action="send-invitation">
      {{fa "ban"}} {{__ ".ban_user"}}
    </a>
  </li>
</template>

<template name="unBanUserAction">
  <li class="dropdown-item">
    <a data-action="send-invitation">
      {{fa "check-circle"}} {{__ ".unban_user"}}
    </a>
  </li>
</template>

<template name="enrollUserAction">
  <li class="dropdown-item">
    <a data-action="send-invitation">
      {{fa "envelope"}} {{__ ".send_invitation"}}
    </a>
  </li>
</template>

<template name="makeAdminUserAction">
  <li class="dropdown-item">
    <a data-action="admin-user">
      {{fa "unlock"}} {{__ ".make_admin"}}
    </a>
  </li>
</template>

<template name="makeManageUserAction">
  <li class="dropdown-item">
    <a data-action="manager-user">
      {{fa "unlock"}} {{__ ".make_manager"}}
    </a>
  </li>
</template>

<template name="makeUserUserAction">
  <li class="dropdown-item">
    <a data-action="normal-user">
      {{fa "unlock"}} {{__ ".make_user"}}
    </a>
  </li>
</template>

<template name="usersProfileActions">
  <div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-user fa-fw"></i>{{__ ".actions"}}
    </button>
    <ul class="dropdown-menu">
      {{> Template.contentBlock }}
    </ul>
  </div>
</template>

<template name="adminEnrollAccount">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{__ ".enroll_account"}}</h4>
      </div>
      <div class="card-body">
        {{> quickForm collection="Meteor.users" id="adminEnrollAccount"
          type="method" meteormethod="Accounts.adminEnrollAccount"
          fields="emails,profile.firstName,profile.lastName" }}
      </div>
    </div>
</template>

<template name="adminChangeUserPassword">
  <h2>{{__ ".change_password_for"}} {{getUserName data.userId}}</h2>
  {{> insertUpdateTemplate form=form data=data }}
</template>
