<template name="editEmails">
  {{#if errors}}<div class="bg-warning">{{errors}}</div>{{/if}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>{{__ ".email"}}</th>
        <th>{{__ ".actions"}}</th>
        <th>{{__ ".verified"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#if user}}
        {{#each user.emails}}
          <tr>
            <td>{{address}}</td>
            <td>
              {{#if isPrimaryEmail address}}
                {{#if verified}}
                    <span class="label label-primary">{{__ ".primary_address"}}</span>
                {{else}}
                    <button type="button" class="btn btn-primary btn-xs"
                    data-action="sendVerification"
                    data-address="{{address}}"
                    title="{{__ '.send_verification_link'}}">
                    <i class="fa fa-check-circle"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-xs"
                    data-action="removeEmail"
                    data-address="{{address}}"
                    title="{{__ '.remove'}}">
                    <i class="fa fa-minus-square"></i>
                  </button>
                {{/if}}
              {{else}}
                {{#if verified }}
                  <button type="button" class="btn btn-primary btn-xs"
                    data-action="makePrimary"
                    data-address="{{address}}"
                    title="{{__ '.make_primary'}}">
                    <i class="fa fa-check-circle"></i>
                  </button>
                {{else}}
                  <button type="button" class="btn btn-primary btn-xs"
                    data-action="sendVerification"
                    data-address="{{address}}"
                    title="{{__ '.send_verification_link'}}">
                    <i class="fa fa-send"></i>
                  </button>
                {{/if}}
                <button type="button" class="btn btn-danger btn-xs"
                  data-action="removeEmail"
                  data-address="{{address}}"
                  title="{{__ '.remove'}}">
                  <i class="fa fa-minus-square"></i>
                </button>
              {{/if}}
            </td>
            <td>
              {{#if verified}}
                <span class="text-success">{{ fa "check" }}</span>
              {{else}}
                <span class="text-warning">{{ fa "clock-o" }}</span>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      {{/if}}
      <tr>
        <td colspan="2">
          <form action="" name="addEmail">
            <div class="row ">
              <input type="email" class="form-control col {{#if $lt ($len (user.emails)) 1}}bg-warning{{/if}}"
                name="addEmail" id="addEmail"
                placeholder="{{__ '.add_new_email'}}">
              <button type="submit" class="btn btn-primary col-md-2">
                {{__ ".add"}} <i class="fa fa-chevron-right"></i>
              </button>
            </div>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</template>
